[submodule "subprojects/gtest"]
	path = subprojects/gtest
	url = https://github.com/ImproperDecoherence/gtest.git
[submodule "subprojects/doxygen-awesome-css"]
	path = subprojects/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css
